###############################################################################
# BEGIN: Base

export ZSH=/home/{{dotfiles_user}}/.oh-my-zsh

ZSH_THEME="candy"

plugins=(
  git
)
export EDITOR=vim

# auto start tmux
if [ "$TMUX" = "" ]; then
  # check for old session
  if [ "$(tmux ls | grep -v attached | wc -l)" -gt "0" ]; then
    # attach to old session
    tmux a -t "$(tmux ls | grep -v attached | cut -d ":" -f1 | head -n 1)"
  else
    # start new session - dont use exec so it's possible to run without tmux
    tmux
  fi
fi

# make fzf use Silver Searcher (ag)
if type ag &> /dev/null; then
  export FZF_DEFAULT_COMMAND='ag -p ~/.gitignore -g ""'
fi

# configure fzf and zsh commands
source /usr/share/fzf/completion.zsh
source $ZSH/oh-my-zsh.sh

###############################################################################
