###############################################################################
# BEGIN: Base

export ZSH=/home/{{dotfiles_user}}/.oh-my-zsh

ZSH_THEME="candy"

plugins=(
  git
)
export EDITOR=vim

source $ZSH/oh-my-zsh.sh

###############################################################################
