# Fix WSL bug where characters appear at start of new session
# https://github.com/microsoft/WSL/issues/5931
set -g escape-time 50

unbind C-b
set-option -g prefix C-M-a
bind-key C-M-a send-prefix

bind r source-file ~/.tmux.conf

set -g mouse on

set -g base-index 1

set-option -g window-size smallest

# Prompt for name when creating new window
bind-key c command-prompt -p "window name:" "new-window; rename-window '%%'"

# Drag windows with mouse button
bind-key -n MouseDrag1Status swap-window -t=

# Longer history
set -g history-limit 30000

# New split keybinds
unbind '"'
unbind %
bind | split-window -h
bind - split-window -v

# Sean Hammond's copy paste fix, see https://www.seanh.cc/2020/12/27/copy-and-paste-in-tmux/
bind -T copy-mode    DoubleClick1Pane select-pane \; send -X select-word \; send -X copy-pipe-no-clear "xsel -i"
bind -T copy-mode-vi DoubleClick1Pane select-pane \; send -X select-word \; send -X copy-pipe-no-clear "xsel -i"
bind -n DoubleClick1Pane select-pane \; copy-mode -M \; send -X select-word \; send -X copy-pipe-no-clear "xsel -i"
bind -T copy-mode    TripleClick1Pane select-pane \; send -X select-line \; send -X copy-pipe-no-clear "xsel -i"
bind -T copy-mode-vi TripleClick1Pane select-pane \; send -X select-line \; send -X copy-pipe-no-clear "xsel -i"
bind -n TripleClick1Pane select-pane \; copy-mode -M \; send -X select-line \; send -X copy-pipe-no-clear "xsel -i"
bind -n MouseDown2Pane run "tmux set-buffer -b primary_selection \"$(xsel -o)\"; tmux paste-buffer -b primary_selection; tmux delete-buffer -b primary_selection"

# Powerline
run-shell "powerline-daemon -q"
{% if ansible_facts.os_family == "Darwin" %}
source /usr/local/lib/python3.9/site-packages/powerline/bindings/tmux/powerline.conf
{% else %}
source /usr/share/powerline/bindings/tmux/powerline.conf
{% endif %}
# source ~/.powerline.conf
# run-shell "powerline-daemon -q"

# TPM and list of plugins
# Don't forget to hit prefix+I to install!
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @yank_action 'copy-pipe-no-clear'
set -g @plugin 'tmux-plugins/tmux-sensible'

set -g @plugin 'laktak/extrakto'
# Enable fzf support
{% if ansible_facts.os_family == "Darwin" %}
set -g @extrakto_fzf_tool "/usr/local/bin/fzf"
{% else %}
set -g @extrakto_fzf_tool "/usr/bin/fzf"
{% endif %}
set -g @extrakto_split_direction "v"


bind -T copy-mode    C-c send -X copy-pipe-no-clear "xsel -i --clipboard"
bind -T copy-mode-vi C-c send -X copy-pipe-no-clear "xsel -i --clipboard"

# Other examples:
# set -g @plugin 'github_username/plugin_name'
# set -g @plugin 'github_username/plugin_name#branch'
# set -g @plugin 'git@github.com:user/plugin'
# set -g @plugin 'git@bitbucket.com:user/plugin'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
